.passwordWrapper {
  padding: 0 20px 20px 20px;
  position: relative;
  width: 100%;
  flex: none;
  box-sizing: border-box;
}

.inputsWrapper {
  position: relative;
  z-index: 2;
}

.topBackground {
  position: absolute;
  /* background-color: #041641; */
  background-color: #379b68;
  background-color: #43A7A7;
  width: 100%;
  height: 200%;
  bottom: 10px;
  left: 0;
  z-index: 1;
  border-radius: 0 0 30% 30%;
}

.password {
  font-size: 80px;
  letter-spacing: 26px;
  text-align: center;
  padding-left: 10px;
  height: 96px;
  width: 100%;
  color: #fff;
  border-radius: 20px;
  /* border: 1px solid #999; */
  border: none;
  background: transparent;
  z-index: 2;
}

.rightPassword {
  color: #ffd900;
}

.emptyPassword {
  font-size: 12px;
  text-align: center;
  height: 96px;
  width: 100%;
  color: #fff;
  background-color: #02123c;
  border-radius: 20px;
  /* border: 1px solid #999; */
  border: none;
  background: transparent;
  z-index: 2;
}

.checkButton {
  width: 60% !important;
  margin-top: 10px !important;
  border-radius: 100px !important;
}

.checkButtonText {
  font-weight: 500;
}

.showAnswer {
  position: absolute !important;
  z-index: 2;
  bottom: 175px;
  right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #f2f2f2;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f2f2f2;
}

::placeholder {
  color: #f2f2f2;
}
