.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: white !important;
  border-radius: 0 !important;
  font-weight: bold;
  z-index: 3;
}

.newGameButton {
  color: #FFFFFF !important;
}