* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.appWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  

  /* background-color: #010926; */
  /* background-color: #78dba8; */
  background-color: #4EC6C4;
  overflow: hidden;
  box-sizing: border-box;
}

.adsense {
  flex: none;
  height: 60px;
  background-color: #FFF;
  width: 100%;
}