.value {
  flex:1;
  font-size: 18px;
  text-align: center;
  color: #ffd900;
}

.hint {
  flex: 5;
  font-size: 14px;
}

ul {
  padding-left: 10px;
  line-height: 18px;
}

li {
  list-style: none;
  text-align: left;
}