.result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #FFF !important;
  color: #3f51b5 !important;
  border-radius: 0 !important;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.value {
  flex:1;
  font-size: 24px;
  text-align: center;
}

.hint {
  flex: 5;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  text-align: left;
}